{% extends "base.html" %}

{% block title %}
        

Pagina de inicio

{% endblock %}

{% block content %} <!--contenido que cambia-->

<h2> Testimonios </h2>
        <img src="../../static/ProyectoWebApp/assets/img/testimonials-1.jpg" alt="" style="width: 200px;display: block;">
        <strong><p style="color: rgb(11, 11, 12);">"Estoy muy contenta con encontrar esta pagina"</p></strong>
        <img src="../../static/ProyectoWebApp/assets/img/testimonials-2.jpg" alt="" style="width: 200px;display: block;">
        <strong><p style="color: rgb(11, 11, 12); ">"Es la mejor pagina que vi..."</p></strong>

{% endblock %}